#google_translate_element {
  select {
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .goog-te-gadget {
    color: #111;
  }

  .goog-te-gadget-icon {
    display: none !important;
  }
}
