// colors
$color-ff0707: #ff0707;
$color-2dbc8b: #2dbc8b;
$color-f5f8f9: #f5f8f9;
$color-eaf5f9: #eaf5f9;
$color-d9dfe2: #d9dfe2;
$color-707070: #707070;
$color-bfb9b9: #bfb9b9;
$color-0094c6: #e6e6e6;
$color-67bedc: #dc9067;
$color-010461: #a85635;
$color-e0a690: #c45c33;
$color-ffffff: #0b0b0b;
$color-000000: #000000;
$color-5a5a5a: #5a5a5a;
$primary: #1a73e8;
$secondary: #f1f3f4;
$success: #96c3a2;
$dark: #202124;
$danger: #ea4335;
$bg: #f5f6fa;
$panel: #ffffff;
$text: #333;
$border: #ddd;

// Fonts
$family-Gothic: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$style-normal: normal;
$weight-600: 600px;
$weight-medium: medium;
$weight-normal: normal;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$character-spacing-0: 0px;
$line-spacing-25: 25px;
$line-spacing-27: 27px;
$line-spacing-30: 30px;
