.investment-history {
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  padding: 18px 16px 10px 16px;
  overflow-y: auto;

  .history-header {
    font-size: 0.9rem;
    font-weight: 900;
    color: var(--text);
    margin-bottom: 10px;
    letter-spacing: 0.5px;
  }

  .history-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .no-history {
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    color: #999;
  }

  .history-item {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    gap: 13px;
    background: var(--bg);
    border-radius: 12px;
    padding: 11px 13px;
    box-shadow: 0 2px 9px #0e021522;
    transition: background 0.18s;
    &:hover {
      background: #aaaaaa;
    }
  }
  .history-amount,
  .history-method,
  .history-coin {
    text-transform: capitalize;
    color: var(--text);
    font-size: 0.8rem;
  }

  .history-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .history-amount.positive {
    color: green;
  }

  .history-amount.negative {
    color: red;
  }

  .history-status.pending {
    color: orange;
  }
  .history-status.approved {
    color: green;
  }
  .history-status.success {
    // color: #47fd65;
  }
  .history-status.failed {
    color: red;
  }

  .history-desc a {
    color: #007bff;
    text-decoration: underline;
  }

  .history-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1px;

    .history-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2px;
    }

    .history-type {
      font-size: 1.02rem;
      font-weight: 600;
      color: var(--text);
      text-transform: capitalize;
      letter-spacing: 0.1px;
    }

    .history-amount {
      font-size: 0.8rem;
      font-weight: 700;
      &.positive {
        color: #47fd65;
      }
      &.negative {
        color: #ff637d;
      }
    }

    .history-date {
      font-size: 0.75rem;
      color: #999898;
      font-weight: 900;
    }

    .history-status {
      font-size: 0.7rem;
      font-weight: 600;
      border-radius: 7px;
      padding: 2px 8px;

      .history-amount.positive {
        color: green;
      }

      .history-amount.negative {
        color: red;
      }

      .history-status.pending {
        color: orange;
      }
      .history-status.approved {
        color: green;
      }
      .history-status.success {
        // color: #47fd65;
      }
      .history-status.failed {
        color: red;
      }
    }

    .history-desc {
      margin-top: 2px;
      font-weight: 700;
      font-size: 0.8rem;
      color: var(--text);
      opacity: 0.7;
    }
  }
}

/* Responsive */
@media (max-width: 600px) {
  .investment-history {
    padding: 12px 4px 5px 8px;
    .history-header {
      font-size: 1.03rem;
    }
    .history-item {
      padding: 8px 7px;
      .history-icon {
        min-width: 33px;
        min-height: 33px;
        width: 33px;
        height: 33px;
        font-size: 1.05rem;
      }
      .history-type,
      .history-amount {
        font-size: 0.95rem;
      }
      .history-date,
      .history-status,
      .history-desc {
        font-size: 0.87rem;
      }
    }
  }
}
